################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IndianNumberSpeller/bin/Debug/netstandard2.0
/IndianNumberSpeller/obj
/IndianNumberSpellerTester/bin/Debug/netcoreapp3.1
/IndianNumberSpellerTester/obj
/.vs/IndianNumberSpeller/v16
